		<p></p>
		</main>

		<footer>
			<section id="webrings-container">
				<h2>Webrings</h2>

				<h4>Graphics Programming</h4>
				<div style="display: flex; gap: 0.25rem; justify-content: center; align-items: center;">
					<a href="https://graphics-programming.org/webring/frogs/technicjelle/prev">⬅️</a>
					<a href="https://graphics-programming.org/webring/" style="height: 1.5em">
						<img
								src="https://graphics-programming.org/img/froge.webp"
								alt="a friendly froge"
								style="object-fit: contain; height: 1.5em"
						/>
					</a>
					<a href="https://graphics-programming.org/webring/frogs/technicjelle/next">➡️</a>
				</div>
			</section>

			<p>Last updated on {{date}}</p>
			<address>
				<p style="margin-bottom: 0;">Website made by <a href="mailto:technicjelleplay@gmail.com">TechnicJelle</a></p>
			</address>
			<p style="margin-top: 0;">&copy;Copyright {{year}} by TechnicJelle. All rights reserved.</p>
		</footer>
	</body>
</html>
