<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>TechnicJelle</title>

		<meta name="og:title" content="TechnicJelle">
		<meta name="description" content="On this website you'll find info about me and my projects">
		<meta name="og:description" content="On this website you'll find info about me and my projects">
		<meta name="theme-color" content="#001FF1">
		<meta name="og:image" content="https://raw.githubusercontent.com/TechnicJelle/TechnicJelle/main/Default(128)0001-0051.gif">
		
		<link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
		<link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">

		<meta http-equiv="X-Clacks-Overhead" content="GNU Terry Pratchett" />

		<style>
{{css}}
		</style>
	</head>
	<body>
		<header class="mono-font">
			<a href="https://github.com/TechnicJelle?tab=repositories&type=source">TechnicJelle</a><span class="small">/</span><a href="https://github.com/TechnicJelle/TechnicJelle"><span class="stealth-link">README</span><span class="small">.md</span></a>
		</header>
		
		<main>
