/* Global styles */
:root {
	--main-text-colour: #EEEEEE;
}

html {
	height: 100%;
}

body {
	background: #151515;
	color: var(--main-text-colour);

	font-family: "Segoe UI", "Roboto", "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 16px;
}

.mono-font {
	font-family: "JetBrainsMono NF", "JetBrains Mono", "ui-monospace", "SFMono-Regular", "SF Mono", "Menlo", "Consolas", "Liberation Mono", monospace;
}

h1, h2 {
	padding-bottom: 4px;
	border-bottom: solid 1px;
}

h2 > a.link,
h3 > a.link,
h4 > a.link {
	display: none;
}

h2:hover > a.link,
h3:hover > a.link,
h4:hover > a.link {
	display: inline;
	font-size: 0.7em;
}

main, h1, h2, .card {
	border-color: #1C2229 !important;
}

img, .card {
	border-radius: 3px;
}

a, a:visited {
	color: #58A6FF;
	text-decoration: none;
}
.stealth-link {
	color: var(--main-text-colour) !important;
}

summary {
	cursor: pointer;
	color: #aaaaaa;
}

/* Specific styles */
body {
	max-width: 900px;
	margin: auto;
	padding: 0 24px;

	/* Push footer to bottom */
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	font-size: 14px;
	padding-top: 6px;
	padding-left: 4px;
	margin-bottom: 12px;
}

span.small {
	font-size: 12px;
	color: #8B949E;
	padding: 0 4px;
}

main {
	flex-grow: 1; /* Push footer to bottom */

	margin: auto;
	padding: 0 24px;

	border: solid 2px;
	border-radius: 8px;
}

/* Haiku style */
h1 + table tr>th:nth-child(2) {
	padding-left: 16px;
	font-style: italic;
}

footer {
	text-align: right;
	font-size: 14px;
}

/* Card styles */
.card * {
	padding: 0;
	margin: 0;
}

.card {
	border: 1px solid;
	padding: 8px;
	margin: 2px 0;
	width: 47%;
	display: inline-block;
	position: relative;
}

@media screen and (max-width: 800px) {
	.card {
		box-sizing: border-box;
		width: 100%;
	}
}

.card .stars {
	position: absolute;
	top: 4px;
	right: 8px;
}

/* Language colours */
.card .AutoHotkey {color: #6594B9;}
.card .C {color: #555555;}
.card .Cpp {color: #F34B7D;}
.card .Cs {color: #178600;}
.card .Dart {color: #00B4AB;}
.card .Java {color: #B07219;}
.card .JavaScript {color: #F1E05A;}
.card .Processing {color: #0096D8;}
.card .Python {color: #3572A5;}
.card .Stylus {color: #FF6347;}
