/* Global styles */
:root {
	--main-text-colour: #EEEEEE;
}

html {
	height: 100%;
}

body {
	background: #151515;
	color: var(--main-text-colour);

	font-family: "Segoe UI", "Roboto", "Helvetica", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Noto Color Emoji";
	font-size: 16px;
}

img {
	max-width: 100%;
}

.mono-font {
	font-family: "JetBrainsMono NF", "JetBrains Mono", "ui-monospace", "SFMono-Regular", "SF Mono", "Menlo", "Consolas", "Liberation Mono", monospace;
}

h1, h2, h3, h4, h5, h6 {
	scroll-margin-top: 2em;
}

h1, h2 {
	padding-bottom: 4px;
	border-bottom: solid 1px;
}

h2 > a.link,
h3 > a.link,
h4 > a.link {
	display: none;
}

/* Anchor point for the link emoji */
h2, h3, h4 {
	position: relative;
}

h2:hover > a.link,
h3:hover > a.link,
h4:hover > a.link {
	display: inline;
	font-size: 0.7em;
	margin-left: 0.3em;
	position: absolute; /*do not actually take up any space, to prevent layout shifts*/
	top: 0.2em;
}
/* h2 needs a bit more offset */
h2:hover > a.link {
	top: 0.3em;
}

main, h1, h2, .card {
	border-color: #1C2229 !important;
}

img, .card {
	border-radius: 3px;
}

a, a:visited {
	color: #58A6FF;
	text-decoration: none;
}
.stealth-link {
	color: var(--main-text-colour) !important;
}

summary {
	cursor: pointer;
	color: #aaaaaa;
}

/* Specific styles */
body {
	max-width: 900px;
	margin: auto;
	padding: 0 2px;

	/* Push footer to bottom */
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

header {
	font-size: 14px;
	padding-top: 6px;
	padding-left: 4px;
	margin-bottom: 12px;
}

span.small {
	font-size: 12px;
	color: #8B949E;
	padding: 0 4px;
}

main {
	flex-grow: 1; /* Push footer to bottom */

	margin: auto;
	padding: 0 24px;

	border: solid 2px;
	border-radius: 8px;
}

/* Haiku style */
h1 + table tr>th:nth-child(2) {
	padding-left: 16px;
	font-style: italic;
}

footer {
	text-align: right;
	font-size: 14px;
}

footer #webrings-container {
	text-align: center;
	font-size: 1rem;
}
footer #webrings-container div {
	font-size: 1.2rem;
}

footer #webrings-container h2 {
	font-size: 1.3rem;
}

footer #webrings-container h2,
footer #webrings-container h4 {
	margin-block: 0.7em;
}


/* Table of Contents style */
aside h2 {
	margin-bottom: 0;
}

aside ul {
	padding-left: 1em;
}

aside li {
	list-style-type: none;
}

@media screen and (min-width: 1500px) {
	aside {
		position: fixed;
		top: 0;
		left: 2em;
	}
}

/* Card styles */
.card * {
	padding: 0;
	margin: 0;
}

.card {
	border: 1px solid;
	padding: 8px;
	position: relative;

	display: flex;
	flex-direction: column;
}

.card .stars {
	position: absolute;
	top: 4px;
	right: 8px;
}

.card h4 {
	margin-bottom: 2px;
}

@media screen and (min-width: 700px) {
	.two-col {
		display: grid;
		grid-template-columns: 1fr 1fr;
		gap: 4px;
	}
}

.lang {
	padding-top: 4px;
	margin-top: auto;
}

/* Language colours */
.lang.AutoHotkey {color: #6594B9;}
.lang.C {color: #555555;}
.lang.Cpp {color: #F34B7D;}
.lang.Cs {color: #178600;}
.lang.Dart {color: #00B4AB;}
.lang.Java {color: #B07219;}
.lang.JavaScript {color: #F1E05A;}
.lang.Processing {color: #0096D8;}
.lang.Python {color: #3572A5;}
.lang.Stylus {color: #FF6347;}
.lang.None {color: rgba(255, 255, 255, 0.5);}

.card>p.tags {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	gap: 0.3em;
}

.card>p.tags>span {
	background: black;
	border-radius: 4px;
	padding: 1px 4px;
}
