main {
	line-height: 1.4;
}

/* Direct child <p> due to Markdown always wrapping <img>s into a <p>... */
div.img-list > p {
	display: flex;
	align-items: start; /*anti-stretch*/
	flex-wrap: wrap;
	gap: 1em;
}

.center {
	text-align: center;
}
