:root {
	--card-padding-inline: 0.7em;
	--card-padding-block: 0.5em;
}

main > :last-child {
	margin-bottom: 0;
}

.post {
	display: block;
	margin-block: 1em;
	padding: var(--card-padding-block) var(--card-padding-inline);

	color: inherit;

	border: 2px solid var(--border-colour);
	border-radius: 6px;
	position: relative;
}

.post > * {
	margin: 0;
}

.post h3 {
	border: none;
	font-size: 1.1em;
	font-weight: 500;
}

.post p.published {
	font-size: 0.8em;
	margin-bottom: 0.5em;
	color: #aaaaaa;
}

.post .tags {
	font-size: 0.9em;
	margin-top: 0.4em;
}

.post p.teaser {
	font-style: italic;
}

@media screen and (min-width: 800px) {
	.post p.published {
		position: absolute;
		top: var(--card-padding-block);
		right: var(--card-padding-inline);
	}
}
