/* Haiku style */
.hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	margin-block: 22px;
}

.hero p {
	margin: 0;
	font-weight: bold;
	font-style: italic;
}

/* For very thin screens, put the image and haiku below each other */
@media screen and (max-width: 400px) {
	.hero {
		flex-direction: column;
		justify-content: center;
	}

	.hero p {
		text-align: center;
	}
}

p:has(.badge) {
	line-height: 2em;
}

a:has(.badge) {
	text-decoration: none;
}

.badge {
	padding: 6px 11px;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	white-space: nowrap;
	letter-spacing: 2px;
	position: relative;
	overflow: clip;
	z-index: 1;
}

a .badge:hover::before {
	content: "";
	display: block;
	position: absolute;
	inset: 0;
	background: hsla(0, 0%, 100%, 0.2);
	z-index: -1;
}

.badge > svg {
	height: 1.8em;
	translate: 0 0.55em;
}

details img[alt*="Saxion diploma"] {
	height: unset;
}

.webrings {
	text-align: center;
}

.webrings h3 {
	border: none;
	margin-bottom: 0.2em;
}

/* Webrings */
.webring {
	display: flex;
	gap: 0.25rem;
	justify-content: center;
	align-items: center;

	font-size: 1.2em;
}

.webring img {
	height: 1.5em;
}

/* Table of Contents style */
aside h2 {
	margin-bottom: 0;
}

aside ol {
	padding-left: 1em;
}

aside > nav > ol {
	padding-left: 0;
}

aside li {
	list-style-type: none;
}

@media screen and (min-width: 1800px) {
	aside {
		position: fixed;
		top: 0;
		left: 2em;
	}
}

section.two-col + h3 {
	margin-top: 5em;
}
