/* Haiku style */
.hero {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
	margin-block: 22px;
}

.hero p {
	margin: 0;
	font-weight: bold;
	font-style: italic;
}

/* For very thin screens, put the image and haiku below each other */
@media screen and (max-width: 400px) {
	.hero {
		flex-direction: column;
		justify-content: center;
	}

	.hero p {
		text-align: center;
	}
}

/* Badges */
a:has(.badge) {
	text-decoration: none;
}

.badge {
	display: inline-flex;
	align-items: center;
	gap: 0.3em;

	background-color: var(--background-colour-hover, var(--background-colour, black));
	color: var(--label-colour, white);
	padding: 0.3em 0.75em;
	font-weight: bold;
	text-transform: uppercase;
	font-size: 12px;
	white-space: nowrap;
	letter-spacing: 2px;

	margin-right: 0.5em;
}

a .badge:hover, a:focus-within .badge {
	--background-colour-hover: oklch(from var(--background-colour, white) calc(l + 0.1) c h);
}

a:focus-visible:has(.badge) { outline: none; }
a:focus-visible .badge {
	outline: rgb(16, 16, 16) auto 1px;
}

p:has(.badge) {
	line-height: 2;
}

/* Some extra spacing between project categories */
section.two-col + h3 {
	margin-top: 5em;
}

/* Webrings */
.webrings {
	text-align: center;
}

.webrings h3 {
	border: none;
	margin-bottom: 0.2em;
}

.webring {
	display: flex;
	gap: 0.25rem;
	justify-content: center;
	align-items: center;

	font-size: 1.2em;
}

.webring img {
	height: 1.5em;
}

/* Table of Contents style */
aside h2 {
	margin-bottom: 0;
}

aside ol {
	padding-left: 1em;
}

aside > nav > ol {
	padding-left: 0;
}

aside li {
	list-style-type: none;
}

@media screen and (min-width: 1800px) {
	aside {
		position: fixed;
		top: 0;
		left: 2em;
	}
}
