name: CI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1

      - name: Download SSG dependencies
        run: cd ssg && dart pub get

      - name: Build the Website
        run: dart run ssg/bin/main.dart
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v5
        with:
          path: 'build'
