name: CI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Setup Dart SDK
        uses: dart-lang/setup-dart@v1

      - name: Download SSG dependencies
        run: cd ssg && dart pub get

      - name: Build the Website
        run: dart run ssg/bin/main.dart
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

      - name: Pushes to another repository
        uses: cpina/github-action-push-to-another-repository@55306faa4ed53b815ae49e564af8cfb359d32ae2
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_TOKEN_GITHUB }}
        with:
          source-directory: build
          destination-github-username: "TechnicJelle"
          destination-repository-name: "technicjelle.github.io"
          user-name: "github-actions[bot]"
          user-email: "41898282+github-actions[bot]@users.noreply.github.com"
          target-branch: deploy
