name: CI

on:
  push:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5

      - name: Install Dart SDK
        run: |
          sudo apt-get update && sudo apt-get install apt-transport-https
          wget -qO- https://dl-ssl.google.com/linux/linux_signing_key.pub | sudo gpg  --dearmor -o /usr/share/keyrings/dart.gpg
          echo 'deb [signed-by=/usr/share/keyrings/dart.gpg arch=amd64] https://storage.googleapis.com/download.dartlang.org/linux/debian stable main' | sudo tee /etc/apt/sources.list.d/dart_stable.list
          sudo apt-get update && sudo apt-get install dart

      - name: Download SSG dependencies
        run: cd ssg && dart pub get

      - name: Build the Website
        run: dart run ssg/bin/main.dart

      - name: Upload a Build Artifact
        uses: actions/upload-artifact@v4
        with:
          path: 'build'
